header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  color: var(--text);
  background-color: var(--surface);
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--primary);
  cursor: pointer;
  padding: 0 1rem;
}

.actions {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: inherit;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.action:hover {
  background-color: var(--background);
  transition: ease-in-out 0.1s;
  transform: scale(1.03);
  color: var(--primary);
}

.action.active {
  background-color: var(--primary);
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
  color: var(--onprimary);
}
