.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transition: ease-in 0.3s ease-out 0.3s;
  text-align: center;
}

.modal-content {
  background: var(--surface);
  padding: 2rem;
  border-radius: 20px;
  min-width: 500px;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: ease-in-out 0.3s;
}

.modal-content input {
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  border: 1px solid #444;
  border-radius: 4px;
  background: var(--background);
  color: var(--text);
  font-size: 1rem;
  font-family: inherit;
  box-sizing: border-box;
  pointer-events: auto;
}

.modal-content input:focus {
  outline:4px solid var(--primarylight);
  border: 2px solid var(--primary);
}

.modal-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 1rem 1rem;
}

.modal-buttons button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.2s;
}

.modal-buttons button[type="submit"] {
  background: var(--primary);
  color: #fff;
}

.modal-buttons button[type="submit"]:hover {
  background: var(--primary);
}

.modal-buttons button[type="button"] {
  background: #d4d4d4;
  border: 2px solid transparent;
  color: var(--primary);
}

.modal-buttons button[type="button"]:hover {
  background: #d4d4d4;
  border-color: var(--primary);
}

.modal-content a {
  color: var(--primary);
  text-decoration: underline;
  margin: 0 1rem;
  cursor: pointer;
}
