header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: none;
    color: var(--text-primary);
}

.logo {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--text-primary);
    margin-left: 3rem;
}