@import './components/header.css';
@import './components/chat.css';
@import './components/modal.css';

@font-face {
  font-family: 'DM-SansSerif';
  src: url('DMSerifText-Regular.ttf') format('truetype');
  font-style: normal;
}


#root {
  display: flex;
  margin: 0;
  font-family: 'DM-SansSerif', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  --primary: #002357;
  --onprimary: var(--surface);
  --text: #333333;
  --border: #666;
  --surface: #f7f7f7;
  --background: #fff;
  --primarylight: #00235722;
}

.default-button {
  cursor: pointer;
  padding: 0.8rem 1.4rem;
  border-radius: 8px;
  font-family: inherit;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--onprimary);
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

main {
  height: inherit;
  width: 100%;
}

.main-content {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background);
}

.helper-content {
  margin: 0 auto;
  height: 100vh;
}

.helpers {
  width: 60%;
  margin: 0 auto;
}

.helper-list {
  display: flex;
  padding: 1rem;
  height: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
  margin-bottom: 1rem;
}

.helper {
  width: fit-content;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  background-color: var(--surface);
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.helper p{
  max-width: 10vw;
  max-height: fit-content;
  text-overflow: ellipsis;
  max-lines: 2;
}

.helper:hover, .helper-create:hover {
  transform: scale(1.05);
}

.helper-header {
  display: flex;
  align-items: center;
}

.helper-header h2 {
  justify-self: flex-start;
  flex: 1;
}

.helper-header button {
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  border-radius: 8px 0 0 8px;
  font-family: inherit;
  border: 2px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}

.helper-header button:last-child {
  border-radius: 0 8px 8px 0;
  font-family: inherit;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--onprimary);
}

.info-bar {
  position: sticky;
  justify-content: space-between;
  padding: 0 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  transition: ease-out 0.5s;
  display: flex;
  align-items: center;
  height: fit-content;
  background-color: var(--primarylight);
  
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary);
}

.info-bar button {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-family: inherit;
  border: 2px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
}

.info-bar button:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  color: var(--onprimary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  transition: ease-in-out 0.5s;
}

.cookies button {
  background-color: var(--onprimary);
  color: var(--primary);
  padding: 0.8rem 1.5rem;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.cookies a{
  cursor: pointer;
  text-decoration: underline;
}

.account-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  align-items: flex-start;
}

.social-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social {
  width: 5vw;
  background-color: var(--primarylight);
  fill: var(--primary);
  stroke: var(--primary);
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
}


